@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section {
    margin-bottom: 2rem; 
}

body {
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(assets/bgimg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}
.register-btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.active {
    position: relative;
}
.active::after {
    content: "";
    background: #000; /* Set the underline color */
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}
nav .fa-bars {
    display: none;
}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 20%;
}
.search-bar{
    background: #fff;
    width: fit-content;
    margin: 30px auto;
    padding: 6px 10px;
    border-radius: 50px;
}
.search-bar button{
    background: #ff5361;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}


/*--------------------About Section --------------------*/
.about__container {
    margin-top: 5rem; /* Add space above the about section */
    padding: 0 120px; /* Increase padding to create more space on both sides */
}

.about__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about__header .section__header {
    font-size: 3rem;
    text-align: left;
    margin-right: 1rem;
}

.about__header .section__description {
    max-width: 350px;
    margin-left: 1rem;
}

.about__grid {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 0 40px; /* Increase padding to create more space on both sides */
}

.about__card {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
}

.about__card h4 {
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    padding-top: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    color: rgb(84, 84, 84);
}

.about__card h4::before {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 6rem;
    line-height: 6rem;
    color: rgb(116, 116, 115);
    opacity: 0.2;
    z-index: -1;
}

.about__card p {
    color: #737373;
    text-align: justify;
    width: 300px;
}

.about__card:nth-child(1) h4::before {
    content: "01";
}

.about__card:nth-child(2) h4::before {
    content: "02";
}

.about__card:nth-child(3) h4::before {
    content: "03";
}





/* ------------Exclusives---------- */
.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Ensure 5 columns in a row */
    gap: 20px; /* Increase gap between the items */
    padding: 0 10px; /* Decrease padding to minimize space on both sides */
}

.exclusives div {
    position: relative;
    text-align: center;
}

.exclusives div img {
    width: 100%; /* Ensure images take up the full width of their container */
    max-width: 250px; /* Set a maximum width */
    height: 120px; /* Set fixed height */
    border-radius: 10px;
    object-fit: cover;
}

.exclusives div span {
    position: absolute;
    bottom: 10px;
    left: 10px; /* Position the text a little away from the left */
    text-align: left; /* Align text to the left */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}






/* ------------CTA Section---------- */
.cta {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(images/bg1pic.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
    width: calc(100% + 60px); /* Extend the box to the full width of the viewport */
    margin-left: -30px; /* Adjust the left margin to center the box */
    margin-right: -30px; /* Adjust the right margin to center the box */
}

.cta_text {
    flex: 1;
}

.cta_text h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta_text p {
    font-size: 18px;
    margin: 10px 0;
}

.cta_exclusives {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Add gap between the items */
    justify-content: space-between;
    padding: 0 10px;
}

.cta_item {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    position: relative;
}

.cta_item img {
    width: 100%;
    height: 120px;
    border-radius: 10px;
}

.cta_item h4 {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #000;
}





/* ----------------Featured Workout Collections --------------- */
.workout-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    row-gap: 30px; 
    padding: 0 20px; 
    justify-content: center;
    margin-top: 30px;
}

.workout-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.182);
    overflow: hidden;
    width: 100%; 
}

.card-image {
    position: relative;
    width: 100%;
    height: 200px;
}

.card-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.card-info-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.level,
.duration {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.instructor {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    text-align: justify; 
}




  

/* ----------Plans and Subscriptions---------- */

.plans__container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.plans__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.plans__header .section__header {
    font-size: 3rem;
    text-align: left;
    margin-right: 1rem;
}

.plans__header .section__description {
    max-width: 350px;
    margin-left: 1rem;
}

.plans__grid {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.plan__card {
    flex: 1;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-bottom: 3rem; 
    min-height: 400px;
}

.plan__card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    color: rgb(242, 196, 13);
    margin-bottom: 1rem;
}

.plan__card p {
    color: #e5e5e5;
    margin-bottom: 1rem;
}

.plan__card ul {
    list-style-type: disc;
    padding-left: 20px; 
    color: #e5e5e5; 
    text-align: left;
}

.plan__card ul li {
    margin-bottom: 0.5rem;
}

.choose-plan-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f2c40d;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
}

.choose-plan-btn:hover {
    background-color: #e5b809;
}

/* -----------Footer----------- */
.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #999;
    height: 1px;
    border: 0;
    margin: 20px 0;
}
.footer p{
    padding-bottom: 15px;
}



/* ----------For-small-screen-device------------ */
@media only screen and (max-width: 700px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }
    .register-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }
    .active::after{
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
    }
    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }
    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
       border-bottom: 1px  solid #ddd;
       width: 100%;
       margin-bottom: 20px;
       margin-top: 10px;
       padding-bottom: 10px;
    }
    .search-bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .sub-title{
        font-size: 6vw;
    }
    .cta{
        padding: 15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    .about-msg{
        font-size: 15px;
    }
}






/*--------------Shop Page-------------- */
.shop-header {
    text-align: center;
    margin: 50px 0;
}

.shop-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.shop-header p {
    font-size: 1.2rem;
    color: #666;
}

/* ------------Categories---------- */
.categories {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.category {
    text-align: center;
}

.category img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.category h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* ------------Section Header---------- */
.section-header {
    text-align: center;
    margin: 50px 0 20px;
}

.section-header h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.options a {
    text-decoration: none;
    color: #ff5361;
    font-size: 1rem;
}

/* ------------Shop Grid---------- */
.shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.shop-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.shop-item-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.shop-item-info {
    margin-top: 15px;
}

.shop-item-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.shop-item-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.shop-item-info p:last-child {
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
}

.shop-btn {
    background-color: #ff5361;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-btn:hover {
    background-color: #e04a55;
}

/* ------------Responsive Styles---------- */
@media (max-width: 700px) {
    .shop-header h1 {
        font-size: 2.5rem;
    }

    .shop-header p {
        font-size: 1rem;
    }

    .shop-grid {
        grid-template-columns: 1fr;
    }
}





/* ------------Product-Description Page-------------- */
.navbar-black{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.navbar-black .nav-links li a{
    text-decoration: none;
    color: #000;
}
.navbar-black .register-btn{
    background: #ff5361;
    color: #fff;
}
nav.navbar-black .fa-bars{
    color: #000;
}
.navbar-black .active::after{
    background-color: #ff5361;
}

.register-btn {
    background-color: #f2c40d;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.product-detail {
    display: flex;
    gap: 2rem;
}

.gallery {
    display: flex;
    gap: 20px;
}

.gallery-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery-column div img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 10px;
}

.gallery-main img {
    width: 500px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px;
}

.product-info {
    flex: 1;
    margin-left: 5rem;
}

.product-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
}

.rating i {
    color: #ff5361;
}

.rating span {
    font-size: 1rem;
    color: #666;
}

.product-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.product-info h4 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.home-desc {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.check-form {
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
}

.check-form label {
    display: block;
    margin-bottom: 5px;
}

.check-form input {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.check-form .special-instructions {
    margin-top: -10px; /* Adjust this value to move the field up */
}

.check-form button {
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.check-form button:hover {
    background: #e04a50;
}

.host {
    display: flex;
    align-items: center;
}

.host img {
    width: 150px;
    border-radius: 25%;
    margin-right: 30px;
}

.host h1 {
    margin-bottom: 10px;
    font-weight: 500;
}

.host i {
    color: #ff5361;
}

.contact-host {
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #444;
}


/* ---------Details for small screen-------- */
@media only screen and (max-width: 700px){
    .house-details{
        margin-top: 150px;
    }
    .row p{
        margin-top: 10px;
    }
    .gallery{
        grid-template-areas: 'first first' '. .' '. .';
    }
    .small-details h2{
        font-size: 20px;
        margin-top: 24px;
    }
    .small-details h4{
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }
    .check-form{
        padding: 10px 30px;
    }
    .check-form div{
        padding: 20px 0;
        width: 100%;
    }
    .check-form input{
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-bottom: 5px;
    }
    .check-form button{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
    .host{
        display: block;
        line-height: 28px;
    }
    .contact-host{
        margin: 40px 0;
    }
}

/* ------------Magazine Page------------ */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.hero-text {
    flex: 1;
    text-align: left;
}

.hero-text h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 0.9rem;
    color: #666;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    width: 350px;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

/* Search Bar */
.search_bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.search_bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    height: 40px;
}

.search_bar button {
    padding: 10px 20px;
    border: none;
    background-color: #ff5361;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 40px;
}

.search_bar button:hover {
    background-color: #e04a55;
}

/* Categories */
.categories {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.category {
    text-align: center;
}

.category img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.category h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Content Section */
/* Base styling for content sections */
.content-section {
    margin: 70px 0;
}

.content-section h2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 20px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
}

/* Style for each content item */
.content-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-item img {
    width: 320px;
    height: 180px;
    border-radius: 10px;
}

.content-item h3 {
    font-size: 0.9rem;
    margin-top: 15px;
    text-align: left;
}

.content-item p {
    font-size: 0.8rem;
    color: #666;
    margin-top: 10px;
    text-align: left;
}

/* Hover effect for all content items */
.content-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Featured posts specific styling */
.featured-posts .content-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.featured-posts .content-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.featured-posts .content-info {
    flex: 1;
}

.featured-posts .content-info h3 {
    font-size: 0.9rem;
    margin-top: 0;
}

.featured-posts .content-info p {
    font-size: 0.8rem;
    color: #666;
    margin-top: 10px;
}

/*Calculator Section */
.calculator-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f7fa;
}

.calculator-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.calculator-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s;
}

.calculator-card:hover {
    transform: scale(1.05);
}

.calculator-image {
    width: 120px;
    height: 120px;
}

.calculator-content {
    flex: 1;
}

.calculator-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.calculator-description {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0 10px;
}

.calculate-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
}



@media (max-width: 700px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .content-grid {
        grid-template-columns: 1fr;
    }
}







/* ------------Login Page ----------- */

.cocontainer{
    margin: 10px 250px 0 ;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.cocontainer p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.cocontainer span{
    font-size: 12px;
}
.cocontainer a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.cocontainer button{
    background-color: #ff5361;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.cocontainer button.hidden{
    background-color: transparent;
    border-color: #fff;
}
.cocontainer form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.cocontainer input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.cocontainer.activee .sign-in{
    transform: translateX(100%);
}
.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.cocontainer.activee .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}
.social-icons{
    margin: 20px 0;
}
.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}
.cocontainer.activee .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}
.toogle{
    background-color: #ffc371;
    height: 100%;
    background: linear-gradient(to right, #ff5361, #ffc371);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.cocontainer.activee .toogle{
    transform: translateX(50%);
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle-left{
    transform: translateX(-200%);
}
.cocontainer.activee .toggle-left{
    transform: translateX(0);
}
.toggle-right{
    right: 0;
    transform: translateX(0);
}
.cocontainer.activee .toggle-right{
    transform: translateX(200%);
}
@media only screen and (max-width:700px){
    .cocontainer{
        margin: 150px 0 0;
    }
}